body{

    font-family: sans-serif;
    margin: 0;
    }
    
    a{
    
        text-decoration: none;
        color: white;
    }
    
    header{
    display: flex;
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    }
    
    .logo{
    
        display: flex;
    }
    
    .logo img{
    height: 75px;
    margin-right: 10px;
    
    }
    
    nav a {
    
    font-weight: 600;
    padding-right: 10px;
    
    }
    
    nav a:hover{
    
    color: red;
    
    }

    html {

        background-image: linear-gradient( rgba(0,0,0,0.4),
        rgba(0,0,0,0.4) ),url(wallpaper\ 4.jpg) ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 1500px;
        color: aliceblue;
        }
